body{
    font-size: 15px;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
}

.container{
    width: 646px;
    max-width: 646px;
    margin: 0px auto;
}

.row.flex{
    display: flex;
    width: 100%;
}

.col-100{
    width: 100%;
}

.mrgBlck-6{
    margin-block: 6px;
}

/* *********************All the items******************** */
.item{
    padding: 23px;
    border-radius: 10px;
    border: 1px solid rgb(205, 209, 218);
}

.redText{
    color: #d93025;
}

/* *********************header item********************** */
.item.head{
    border-top: 10px solid rebeccapurple;
    padding-bottom: 0px;
}

.item.head h1{
    font-size: 32px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 130px;
}

.item.head hr{
    background-color: rgb(205, 209, 218);
    height: 1px;
    border: none;
}

.item.head .email{
    display: inline;
    color: rgb(104, 104, 104);
}

.item.head .bleuText{
    color: rgb(66, 131, 206);
    cursor: pointer;
}

.item.head .cloudImg{
    width: 26px;
    height: 24px;
    float: right;
    cursor: pointer;
}

.item.head .emailImg{
    margin-bottom: 20px;
    margin-top: 10px;
}

/* ***********************input items******************** */
.item.inpt label{
    display: block;
    margin-bottom: 30px;
}

.item.inpt input{
    width: 270px;
    border: none;
    border-bottom: 1px solid rgb(205, 209, 218);
}

.item.inpt .errMessage{
    margin: 23px 5px 0px;
    font-size: 12px;
}

.item.inpt .errMessage .exclamationImage{
    vertical-align: middle;
    width: 18px
}

/* ********************Buttons******************* */
.buttons .envoyer{
    background-color: rebeccapurple;
    color: white;
    font-weight: bold;
    padding: 10px 23px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttons .effacer{
    background-color: transparent;
    color: rebeccapurple;
    font-weight: bold;
    padding: 10px 8px;
    border: none;
    cursor: pointer;
    float: right;
}

.SelectLanguage{
    background-color: rebeccapurple;
    color: white;
    font-weight: bold;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.changeMode{
    background: transparent url("images/mode.png") no-repeat ;
    background-size: contain;
    color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}


/* *************************footer************************* */
footer{
    font-size: 12px;
    color: rgb(104, 104, 104);
}

footer .centre{
    text-align: center;
}

footer .GoogleForms{
    font-size: 22px;
}

/* ************************info**************************** */
.info{
    height: 23px;
    margin-inline: 10px;
    margin-block: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
}