body {
    background-color: rgb(240 235 248);
    color: black;
}

/* *******************All the items******************* */
.item {
    background-color: white;
}

/* *******************header item********************** */
.item.head .cloudImg{
    content: url("images/blackCloud.png");
}

/* *******************input items********************* */
.item.inpt input{
    background-color: white;
    color: black;
}